<div
  class="h-screen w-fullflex flex-col"
>
  <div class="flex w-full h-1/2 m-auto flex-col gap-8 mt-20 lg:mt-28">
    <div class="flex w-11/12 max-w-md h-fit m-auto flex-col">
      <img
        src="assets/pro10.png"
        alt=""
        class=" w-64 h-auto m-auto "
      />
    </div>

    <div
      class="flex w-11/12 max-w-md h-fit p-4 bg-[#1E262C] m-auto flex-col rounded-md gap-1 shadow-sm"
    >
      <p class="font-bold text-[#A6ADB5]  text-xl m-auto mt-4">
        Login
      </p>
      <p class="font-semibold mt-4 text-[#A6ADB5]">Email</p>
      <input
        type="email"
        class="w-full m-auto p-3 focus:outline-none bg-[#26323C] border-l-4 border-[#FFD66B] focus:font-semibold font-semibold  autofill:bg-dark-input"
        placeholder="Email"
        [(ngModel)]="this.userCredentials.username"
      />

      <p class="font-semibold mt-2  text-[#A6ADB5]">Password</p>
      <input
        type="password"
        class="w-full m-auto p-3 focus:outline-none bg-[#26323C] border-l-4 border-[#FFD66B] font-semibold"
        placeholder="Password"
        [(ngModel)]="this.userCredentials.password"
      />

      <div
        class="flex w-full h-fit rounded-full bg-[#FFD66B] p-2 mt-8 hover:scale-105 transition-all cursor-pointer"
        (click)="this.login()"
      >
        <p
          class="text-black  font-bold m-auto tracking-widest text-lg"
        >
          LOGIN
        </p>
      </div>
    </div>
  </div>
</div>
