<div class="w-full h-96 bg-[#2E3E44] shadow-lg mt-12">
  <div class="w-full max-w-5xl m-auto p-4 h-full flex gap-4">
    <div class="h-full basis-1/4">
      <img src="assets/pro10.png" alt="" />
      <p class="text-[#d2d5d8] italic text-lg m-auto mt-4">
        Pro10 is the online webshop where you can buy equipment for your own
        home-gym.
      </p>
      <p class="text-[#d2d5d8] text-sm m-auto mt-16 opacity-60">
        Thomas van Velzen
      </p>
      <p class="text-[#d2d5d8] text-sm m-auto mt-0 opacity-60">
        s1113113&#8482;
      </p>
      <p class="text-[#d2d5d8] text-sm m-auto mt-0 opacity-60">
        IPRWC 2022-2023
      </p>
    </div>
    <div class="h-full basis-1/4">
      <p class="text-[#d2d5d8] font-semibold text-3xl m-auto mt-4 text-center">
        Sitemap
      </p>
      <p
        class="text-[#d2d5d8] text-md m-auto p-1 mt-6 text-center cursor-pointer hover:scale-105 transition-all" [routerLink]="['/home']"
      >
        Home
      </p>
      <p
        class="text-[#d2d5d8] text-md m-auto p-1 text-center cursor-pointer hover:scale-105 transition-all" [routerLink]="['/products/discount']"
      >
        Discounts
      </p>
      <p
        class="text-[#d2d5d8] text-md m-auto p-1 text-center cursor-pointer hover:scale-105 transition-all" [routerLink]="['/products/sportswear']"
      >
        Sportswear
      </p>
      <p
        class="text-[#d2d5d8] text-md m-auto p-1 text-center cursor-pointer hover:scale-105 transition-all" [routerLink]="['/products/weightlifting']"
      >
        Weightlifting
      </p>
      <p
        class="text-[#d2d5d8] text-md m-auto p-1 text-center cursor-pointer hover:scale-105 transition-all" [routerLink]="['/products/cardio']"
      >
        Cardio
      </p>
      <p
        class="text-[#d2d5d8] text-md m-auto p-1 text-center cursor-pointer hover:scale-105 transition-all" [routerLink]="['/products/bodyweight']"
      >
        Bodyweight
      </p>
      <p
        class="text-[#d2d5d8] text-md m-auto p-1 text-center cursor-pointer hover:scale-105 transition-all" [routerLink]="['/cart']"
      >
        Shopping cart
      </p>
      <p
        class="text-[#d2d5d8] text-md m-auto p-1 text-center cursor-pointer hover:scale-105 transition-all" [routerLink]="['/profile']"
      >
        Profile
      </p>
    </div>
    <div class="h-full basis-1/2 flex flex-col gap-4">
      <div class="w-full basis-1/2 flex">
        <img src="assets/payment.png" alt="" class="w-full h-auto m-auto" />
      </div>
      <div class="w-full basis-1/2 flex gap-4 flex-row">
        <div class="h-full basis-1/2 max-h-full flex">
          <ng-lottie [options]="options" class="w-11/12 max-h-full"></ng-lottie>
        </div>
        <div class="h-full basis-1/2 flex gap-4 flex-col">
          <div class="h-full basis-1/2 gap-4">
            <p class="text-[#d2d5d8] italic text-2xl m-auto mt-2 text-center">
              Created by
            </p>
            <p
              class="text-[#d2d5d8] text-xl m-auto mt-2 opacity-60 text-center"
            >
              Thomas van Velzen
            </p>
          </div>
          <div class="h-full basis-1/2 gap-4 flex">
            <div
              class="h-full basis-1/3  p-3 cursor-pointer hover:scale-105 transition-all"
            >
              <img src="assets/git.png" alt="" />
            </div>
            <div
              class="h-full basis-1/3 p-3 cursor-pointer hover:scale-105 transition-all"
            >
              <img src="assets/in.png" alt="" />
            </div>
            <div
              class="h-full basis-1/3 p-3 cursor-pointer hover:scale-105 transition-all"
            >
              <img src="assets/insta.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="h-full max-h-full basis-1/2 flex"></div>
<div class="w-full basis-1/2 bg-gray-50"></div>
