@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/montserrat");

* {
  font-family: "Montserrat", sans-serif;

  ::-webkit-scrollbar-track {
    background-color: #26323c;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: #26323c;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2E3E44;
  }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #26323c inset !important;
  color: white;
}

input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(#123, #111);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: rgba(255, 255, 255, 0.416);
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{10 + random(20)}s linear infinite;
    animation-delay: -#{random(12)}s;
  }
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}

.checked {
  color: #FFD66B;
}

*{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
